html,
body {
  max-width: 100vw;
  scroll-padding-top: 100px;
}

body {
  color: black;
  background: #f4f0e0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
