:root {
  --off-white: #f4f0e0;
  --header-bg: rgb(42, 42, 42, 0.2);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    130deg,
    #2a5d9f,
    #8b5e3c,
    #2a5d9f,
    #8b5e3c,
    #2a5d9f
  );
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
