.page {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.65rem 1fr 0.65rem;
  align-items: center;
  justify-items: center;
  padding: 0.8rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-row-start: 2;
  width: 90%;
}

.main h1 {
  font-size: 2.3rem;
  color: white;
}

.main h3 {
  font-size: 1rem;
  color: grey;
  width: 80%;
}

.button_container {
  display: flex;
  justify-content: center;
}

.main button {
  padding: 1rem 6rem;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  color: rgba(42, 42, 42, 0.9);
}

@media (min-width: 600px) {
  .main {
    width: 60%;
  }

  .main h1 {
    font-size: 3rem;
  }

  .main h3 {
    width: 80%;
  }

  .button_container {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}
