.page {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.65rem 1fr 0.65rem;
  align-items: center;
  justify-items: center;
  min-height: calc(100svh - 100px);
  padding: 0.8rem;
  gap: 1rem;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-row-start: 2;
  width: 90%;
}

.main h1 {
  font-size: 2.3rem;
  color: white;
}

.main h3 {
  font-size: 1rem;
  color: grey;
  width: 80%;
}

.button_container {
  /* width: 40%; */
  display: flex;
  justify-content: center;
}

.main button {
  padding: 15 100;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  color: rgba(42, 42, 42, 0.9);
}

@media (min-width: 600px) {
  .page {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: calc(100svh - 100px);
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
    width: 60%;
  }

  .main h1 {
    font-size: 3rem;
    color: white;
  }

  .main h3 {
    color: grey;
    width: 80%;
  }

  .button_container {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .main button {
    padding: 15 100;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    color: rgba(42, 42, 42, 0.9);
  }
}
