.contact_container {
  width: 80%;
  height: 500px;
  background-color: #2e2e2e;
  color: #f4f0e0;
  padding: 20px;
}

.contact_header {
  display: flex;
  align-items: center;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2rem 0;
}

.contact_header::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #f4f0e0;
}
